__pycache__
env
.env
env/
env-lnx
env-lnx/
notas.txt
./c++_gif/env
./c++_gif/bloggif_frames_gif
./c++_gif/frames
./c++_gif/frame
./c++_gif/chrome_desconected
./c++_gif/desconecta.gif
./c++_gif/frames.json
./hinhdongesp32/frames
./hinhdongesp32/animations_dir
c++_gif/env
c++_gif/bloggif_frames_gif
c++_gif/frames
c++_gif/frame
c++_gif/chrome_desconected
c++_gif/desconecta.gif
c++_gif/frames.json
hinhdongesp32/frames
hinhdongesp32/animations_dir
